{% extends "index.html"%}
{% block posts %}
<div class="box">
        <div class="card">
            <div class="image-data">
                <div class="background-image"></div>
                <div class="publication-details">
                    <a href="#" class="author"><i class="fas fa-user"></i>Zhenyu Sun</a>
                    <span class="date"><i class="fas fa-calendar-alt"></i>August 19, 2020</span>
                </div>
            </div>
            <div class="post-data">
                <h1 class="title">Interactive Visualization of StreetEasy Data</h1>
                <h2 class="subtitle">A simple application using Python Dash </h2>
                <p class="description">In this post, I used Python dash package to visualize the rental and sales data from StreetEasy website. 
                    The data was downloaded by using web scraping techniques. 
                    
                </p>
                <div class="cta">
                    <a href="#">Read More &rarr;</a>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="image-data">
                <div class="background-image"></div>
                <div class="publication-details">
                    <a href="#" class="author"><i class="fas fa-user"></i>Zhenyu Sun</a>
                    <span class="date"><i class="fas fa-calendar-alt"></i>August 19, 2020</span>
                </div>
            </div>
            <div class="post-data">
                <h1 class="title">Interactive Visualization of StreetEasy Data V2</h1>
                <h2 class="subtitle">A simple application using Python Dash </h2>
                <p class="description">In this post, I used Python dash package to visualize the rental and sales data from StreetEasy website. 
                    The data was downloaded by using web scraping techniques. 
               
                </p>
                <div class="cta">
                    <a href="#">Read More &rarr;</a>
                </div>
            </div>
        </div>
    
         <div class="card">
    
            <div class="image-data">
                <div class="background-image"></div>
                <div class="publication-details">
                    <a href="#" class="author"><i class="fas fa-user"></i>Zhenyu Sun</a>
                    <span class="date"><i class="fas fa-calendar-alt"></i>August 19, 2020</span>
                </div>
            </div>
            <div class="post-data">
                <h1 class="title">Song2Vec</h1>
                <h2 class="subtitle">Visualize the music Genre </h2>
                <p class="description">In this post, I used Python dash package to visualize the rental and sales data from StreetEasy website. 
                    The data was downloaded by using web scraping techniques. 
                    The data timestamp is 05/08/2020. 
                </p>
                <div class="cta">
                    <a href="#">Read More &rarr;</a>
                </div>
            </div>
        </div> 

        <div class="card">
    
            <div class="image-data">
                <div class="background-image"></div>
                <div class="publication-details">
                    <a href="#" class="author"><i class="fas fa-user"></i>Zhenyu Sun</a>
                    <span class="date"><i class="fas fa-calendar-alt"></i>August 19, 2020</span>
                </div>
            </div>
            <div class="post-data">
                <h1 class="title">Song2Vec V2</h1>
                <h2 class="subtitle">Visualize the music Genre V2 </h2>
                <p class="description">In this post, I used Python dash package to visualize the rental and sales data from StreetEasy website. 
                    The data was downloaded by using web scraping techniques. 
                    The data timestamp is 05/08/2020. 
                </p>
                <div class="cta">
                    <a href="#">Read More &rarr;</a>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}