*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --gradient-color: linear-gradient(to right bottom, rgba(255, 119, 48, 0.8),rgba(255, 185, 0, 0.8));
    --theme-color: white;
    --theme-ball-color:rgb(30, 30, 30);
    --theme-ball-transform: translateX(0rem);
    --theme-label-background-color:rgba(238, 236, 236);
    --body-gradient-color: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5));
    --background-image: url("images/Dark_Background.jpg");
    /* --background-image: url("#"); */
    --header-container-color: white;
    --box-shadow-color:rgba(248, 246, 246, 0.3);
    --card-background-color: rgba(43, 42, 42, 0.9);
    --post-title-color:#e7e4e4;
    --post-subtitle-color:#dbd8d8;
    --description-color:white;
    --post-data-background-color:rgb(245, 109, 19);
}


.light-theme{
    --gradient-color: linear-gradient(to right bottom, rgba(255, 119, 48, 0.8),rgba(255, 185, 0, 0.8));
    --theme-color: rgb(70, 70, 70);
    --theme-label-background-color:rgb(30, 30, 30);
    --theme-ball-color:rgb(255, 255, 255);
    --theme-ball-transform: translateX(1.8rem);
    --body-gradient-color: linear-gradient(to bottom, rgba(238, 236, 236, 0.8), rgba(238, 236, 236, 0.5));
    --background-image: url("images/Light_Background.jpg");
    /* --background-image: url("#"); */
    --header-container-color: rgb(70, 70, 70);
    --box-shadow-color:rgba(0,0,0,0.1);
    --card-background-color: white;
    --post-title-color:#504f4f;
    --post-subtitle-color:#646363;
    --description-color:black;
    --post-data-background-color:rgb(245, 19, 19);
}

html{
    font-size: 10px;

    /* Add font family */
    font-family: "Roboto Cn", sans-serif;
    
}

a{
    text-decoration: none;
    color: inherit;
   
}
header{
    padding: 0rem 1.5rem;
    width: 100%;
    /* display: inline; */
    
}


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    color: #333;
    /* background-color: #eee; */

    /* Add Background */
    background: var(--body-gradient-color), var(--background-image) center no-repeat;
	background-size: cover;
    
    width: 100%;
    height: 100vh;

    /* display: flex; */
    margin-top: 5rem;
    justify-content: center;
    padding: 0rem 1.5rem;
    overflow: hidden;

    /* transition: all 1s; */
}
.themeCheck {
	opacity: 0;
	position: absolute;
}

/* .themeCheck:checked + .themLabel {
    background-color: var(--theme-label-background-color);
} */
/* .themeCheck:checked + .themLabel .ball{
    transform: translateX(2rem);
    background-color: rgb(30, 30, 30);
} */

.themLabel {
	background-color: var(--theme-label-background-color);
	border-radius: 2rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem;
	position: relative;
	height: 2rem;
	width: 4rem;
    transform: scale(1.5);
    z-index: 3;
}

.ball {
	background-color: var(--theme-ball-color);
	border-radius: 50%;
	position: absolute;
	top: 0.2rem;
	left: 0.3rem;
	height: 1.6rem;
	width: 1.6rem;
	transform: var(--theme-ball-transform);
    transition: transform 0.3s linear;
    z-index: 5;
}

.fa-moon {
    color: #f39c12;
    transform: scale(0.7);
    z-index: 4;
}

.fa-sun {
    color: #f39c12;
    transform: scale(0.7);
    z-index: 4;
}

.theme-toggle{
    width: 4rem;
    height: 4rem;
    /* position: absolute; 
    top: 2.5rem;
    right: 2.5rem; */
    border: 2px solid var(--theme-color);
    display: flex;
    cursor: pointer;
    z-index: 9999;
}
.theme-toggle i{
    margin:auto;
    color: var(--theme-color);
    font-size: 2rem;
}

.menu-toggle{
	position: fixed;
	top: 2.5rem;
	left: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    color: var(--header-container-color);
    transition: color 3s;
}

nav{
    /* padding-top: 3rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    /* background-color: #d4d3d3; */
}

.brand{
    font-size: 3rem;
    /* font-size: 10rem; */
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn 0.5s forwards;
}

.brand span{
    color: crimson;
    /* color: black; */
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn 0.5s forwards;
}

nav ul li:nth-child(1){
    animation-delay: 0s;
}
nav ul li:nth-child(2){
    animation-delay: 0.2s;
}
nav ul li:nth-child(3){
    animation-delay: 0.4s;
}
nav ul li:nth-child(4){
    animation-delay: 0.6s;
}

nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
    /* color: rgb(78, 78, 78); */
    
}

nav ul li a:last-child{
    margin-right: 0;
}

nav ul li a::before, 
nav ul li a::after{
    content:'';
    position: absolute;
    width:100%;
    height: 2px;
    background-color: crimson;
    left:0;
    transform: scaleX(0);
    transition: all 0.5s;
}
nav ul li a::before{
    top:0;
    transform-origin: left;
}

nav ul li a::after{
    bottom:0;
    transform-origin: right;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
  transform: scaleX(1)
    
}

@keyframes slideIn {
    from{

    }
    to{
        transform: translateX(0)
    }
}



.box {
    margin-top: 10rem;
    width: 100%;
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    /* overflow-y: hidden; */
  }

  ::-webkit-scrollbar {
    /*width: 0px;  *//* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


.card{
    display: flex;
    flex-direction: column;
    /* box-shadow: 2px 0.8rem 1rem rgba(0,0,0,0.05); */
    box-shadow: 2px 0.8rem 1rem var(--box-shadow-color);
    background-color: white;
    margin: 3rem auto;
    
 
}

.image-data{
    height: 25rem;
    position: relative;
    z-index: 1;
    overflow: hidden
}


.background-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("images/StreetEasy_Background2.jpeg") center no-repeat;
    background-size: cover;
    z-index: -1;
    transition: transform 5s;
}
.card:hover .background-image{
    transform: scale(1.5);
}

.publication-details{
    width: 100%;
    height: 100%;
    background: var(--gradient-color);
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.publication-details i{
    margin-right: 1rem;
}

.author{
    display: inline-block;
    /* display: block; */
    margin-bottom: 0.5rem;
    transition: all .5s;
}

.author:hover{
    color: rgba(255, 255, 255, 0.75);
}

.date{
    display: block;
}

.post-data{
    /* background-color: #fff; */
    background-color: var(--card-background-color);
    padding: 2rem 3rem;
    position: relative;
    transition: background-color 1s;
}

.title{
    font-size: 2.5rem;
    line-height: 1;
    color: var(--post-title-color);
    transition: color 1.5s;
}

.subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--post-subtitle-color);
    margin: 1rem 0 1.5rem 0;
    transition: color 1.5s;
}

.description{
    position: relative;
    color: var(--description-color);
    transition: color 1.3s;
}

.description::first-letter{
    margin-left: 1rem;
}

.description::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 2.5rem;
    background: var(--gradient-color);
    border-radius: 2rem;

}

.cta{
    text-align: right;
    font-weight: bold;
    margin-top: 1rem;
    /* background: var(--gradient-color); */
}
.cta a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    color: transparent;
    position: relative; 
}

.cta a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    width: 100%;
    height: 3px;
    background: var(--gradient-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.8s;
}
.cta a:hover::before{
    transform: scaleX(1);
}
@media screen and (max-width: 600px){
    .fa-bars{
        color: var(--theme-color);
    }
    .fa-times{
        color: var(--theme-color);
    }

	.menu-toggle{
		display: block;
	}

	nav{
		/* padding-top: 0; */
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
        height: 100vh;
       
		text-align: center;
	}

	nav ul{
		flex-direction: column;
	}

	nav ul li{
        margin-top: 5rem;
	}

	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
        font-size: 5rem;
	}
  
  .overlay.menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}

@media screen and (min-width: 600px){
    .box{
        margin-top: 4rem;
    }

    .card{
        margin-top: 2rem;
        flex-direction: row;
        max-width: 85rem;
        margin-bottom: 3rem;
        
    }

    .image-data{
        flex-basis: 25%;
        height: unset;
    }
    .publication-details{
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
    .card:hover .publication-details{
        transform: translateX(0);
    }

    .author{
        transform: translateY(-3rem);
        opacity: 0;
        transition-delay: 0.3s;
    }

    .date{
        transform: translateY(6rem);
        opacity: 0;
        transition: all 0.5s 0.3s;
   
    }

    .card:hover .author,
    .card:hover .date{
        transform: translateY(0);
        opacity: 1;
    }
    .post-data{
        flex-basis: 75%;
        transition: background-color 1.5s;
    }

    .post-data::before{
        content: "";
        width: 2.5rem;
        height: 100%;
        
        background-color: var(--post-data-background-color);
        position: absolute;
        top: 0;
        left: -1.5rem;
        z-index: 1;
        transform: skewX(-5deg)
    }
}